.custom-nav-pills .nav-link.active{
    color: #5e72e4 !important;
    background-color: white !important;
}
.custom-nav-pills .nav-link{
    color: white !important;
    background-color: #5e72e4 !important;
}